@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
} dont need this because it's in _ViewStart.cshtml so is prepended to all views by default*@

@{ 
	ViewBag.Title = "Movie List Title";
}

<h2>Movie List Heading</h2>

<p>Text in the view template</p>